<template>
  <b-container class="article-submit-form main-container">
    <b-row class="justify-content-center">
      <b-col sm="5" class="center-wrapper">
        <h3 class="mb-4 text-center font-weight-bold">무료나눔 신청하기</h3>
        <b-form-group
            label="성함"
            label-class="text-muted"
            class="mb-4"
        >
          <b-form-input size="lg"
                        type="text"
                        placeholder="성함을 입력해주세요"
                        >
          </b-form-input>
        </b-form-group>
        <b-form-group
            label="휴대폰"
            label-class="text-muted"
            class="mb-4"
        >
          <b-form-input size="lg"
                        type="tel"
                        v-mask="'###-####-####'"
                        placeholder="'-' 없이 입력 해주세요"
                        maxlength="13">
          </b-form-input>
        </b-form-group>
        <b-form-group
            label="매장명"
            label-class="text-muted"
            class="mb-4"
        >
          <b-form-input size="lg"
                        type="text"
                        placeholder="'-' 없이 입력 해주세요">
          </b-form-input>
        </b-form-group>
        <b-form-group
            label="배송주소"
            label-class="text-muted"
            class="mb-3"
        >
          <b-form-input size="lg"
                        class="mb-2"
                        type="text"
                        placeholder="전화번호 입력 (선택사항)">
          </b-form-input>
          <b-form-input size="lg"
                        type="text"
                        placeholder="상세주소">
          </b-form-input>
        </b-form-group>
        <p class="mb-4">
          <small class="text-center">본인은 <u class="cursor-pointer" @click="modalShow = !modalShow">개인정보 수집 및 이용</u> 내용을 확인 하였으며, <span class="font-weight-bold">동의합니다.</span></small>
        </p>
        <b-button class="py-2" variant="primary" block>동의하고 신청하기</b-button>
      </b-col>
    </b-row>
    <b-modal id="policy" hide-footer title="배송정보 제 3자 제공 동의" v-model="modalShow">
      <!-- <h6 class="font-weight-bold mb-4"></h6> -->
        회원의 개인정보는 당사의 개인정보 취급방침에 따라 안전하게 보호됩니다.<br>
        '회사'는 이용자들의 개인정보를 개인정보 취급방침의 '제 2조 수집하는 개인정보의 항목, 수집방법 및 이용목적'에서 고지한 범위 내에서 사용하며,
        이용자의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 이용자의 개인정보를 외부에 공개하지 않습니다.<br>
        <br>
        제공받는자: 이벤트, 무료나눔 진행자<br>
        제공목적: 무료나눔/배송과 관련된 문의사항 처리<br>
        제공정보: 수취인 성함, 휴대폰번호, 매장명, 배송주소<br>
        보유 및 이용기간: 위 정보는 무료나눔 선정자가 최종 선정된 날로부터 30일이 되는 날까지만 확인할 수 있습니다.<br>
        <br>
        ※ 동의 거부권 등에 대한 고지
        개인정보 제공은 서비스 이용을 위해 꼭 필요합니다. 개인정보 제공을 거부하실 수 있으나, 이 경우 서비스 이용이 제한될 수 있습니다.
    </b-modal>
  </b-container>
</template>

<script>
export default {
  data: () => ({
    modalShow: false
  }),
  methods: {
  }
}
</script>

<style>
.article-submit-form .modal-body {
  font-size: 14px;
}
</style>
