<template>
  <b-container class="article-view main-container" style="padding-top: 1.5rem !important;">
    <b-row class="justify-content-center">
      <b-col sm="9">
        <div class="text-muted mb-4">{{ article.topCateNm }} > {{ article.cateNm }} > {{ article.title }}</div>
        <b-carousel v-if="isPhotos"
                    id="img-carousel"
                    style="text-shadow: 1px 1px 2px #333;"
                    controls
                    indicators
                    background="#ababab"
                    :interval="5000"
        >
          <b-carousel-slide 
            v-for="(photo, index) in article.photos"
            :key="index"
            :img-src="image('article', 'l', photo)"
            class="rounded"
          ></b-carousel-slide>
          <!-- TODO default 이미지 추가하기 -->
        </b-carousel>
        <section id="seller" class="py-4 d-flex">
          <div class="d-inline-block">
            <b-img :src="image('profile', 's', article.sellerPicture)"
                  rounded="circle"
                  width="55"
                  height="55"
                  alt="img"
                  style="object-fit: cover; background-color: #ffffff;"
                />
          </div>
          <div class="d-inline-block pt-2 pl-3">
            <div class="font-weight-bold">{{ article.sellerNickname }}</div>
            <small class="d-flex">{{ article.sellerJob }}</small>
          </div>
        </section>
        <hr class="m-0">
        <b-row class="mt-4 mb-1">
          <b-col>
            <h4 class="mb-0">{{ article.title }}</h4>
          </b-col>
          <b-col sm="auto">
            <b-badge class="article-st" pill variant="primary">{{ articleSts[article.articleSt] }}</b-badge>
          </b-col>
        </b-row>
        <div class="text-muted mb-1">
          <small>{{ article.cateNm }} &middot; {{ article.sortDt | moment('from', 'now') }}</small> 
        </div>
        <div class="d-inline-block text-primary font-weight-bold">
          <span v-if="article.price"><vue-numeric separator="," :value="article.price" read-only></vue-numeric>원</span>
          <span v-else>무료나눔</span>
        </div>
        <small class="float-right text-muted pt-1">조회수 400 &middot; 관심수 500 &middot; 댓글수 1,000</small>
        <section id="addition" class="mt-4">
          <b-row class="mb-3" v-if="article.tel">
            <b-col sm="2" class="font-weight-bold">연락처</b-col>
            <b-col>{{ article.tel }}</b-col>
          </b-row>
          <b-row class="mb-3" v-if="article.dueDt">
            <b-col sm="2" class="font-weight-bold">마감일</b-col>
            <b-col>{{ article.dueDt }}</b-col>
          </b-row>
        </section>
        <hr>
        <p class="font-weight-bold">상세설명</p>
        <p id="description" v-html="replaceContents"></p>
        <small class="text-muted mt-2">{{ article.si }} &middot; {{ article.gu }} &middot; {{ article.dong }}</small>
      </b-col>
    </b-row>
    <section class="article-footer border-top">
      <b-row class="justify-content-center bg-white">
        <b-col sm="8" md="6" lg="4">
          <b-row class="text-center font-weight-bold cursor-pointer">
            <b-col class="py-3 text-danger font-weight-bold border border-top-0">
              찜하기
            </b-col>
            <router-link tag="b-col" to="/articles/submit" class="py-3 text-primary font-weight-bold border border-top-0 border-left-0">
              신청하기
            </router-link>
          </b-row>
        </b-col>
      </b-row>
    </section>
  </b-container>
</template>

<script>
import empty from 'is-empty'
export default {
  name: 'article-view',
  metaInfo: {
    title: '빙고쉐어 - 중고상품'
  },
  data: () => ({
    photos: [],
    article: {}
  }),
  computed: {
    isPhotos () {
      return !empty(this.article.photos)
    },
    replaceContents () {
      if (this.article.contents) {
        return this.article.contents.replace(/(?:\r\n|\r|\n)/g, '<br />')
      }
      return ''
    }
  },
  created () {
    this.fetchArticle()
    this.scrollToTop()
  },
  methods: {
    async fetchArticle () {
      try {
        this.article = await this.$store.dispatch('article/getArticle', this.$route.params.articleSeq)
      } catch (err) {
        this.handleError(err)
      }
    }
  }
}
</script>

<style>
.article-view #img-carousel .carousel-inner {
  max-height: 500px;
  overflow: hidden;
}
.article-view #img-carousel, 
.article-view #img-carousel .carousel-inner {
  border-radius: 12px !important;
}
.article-view #img-carousel img {
  object-fit: cover;
  width: 100% !important;
  height: auto;
}
.article-view #description {
  line-height: 2rem;
}
.article-view .article-st {
  font-size: 14px;
  padding: 7px 12px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
</style>
