<template>
  <div class="article-search">
    <ul v-if="subCategories.length > 0" class="nav nav-pills mb-4">
      <li class="nav-item w-20 text-center bg-white border" @click="search({ cateCd: topCateCd })">
        <span class="nav-link cursor-pointer" :class="{ active: params.cateCd === topCateCd }" href="#">전체</span>
      </li>
      <li class="nav-item w-20 text-center bg-white border" 
          v-for="(item, index) in subCategories" :key="index"
          @click="search({ cateCd: item.cateCd })"
        >
        <span class="nav-link cursor-pointer" :class="{ active: params.cateCd === item.cateCd }" href="#">{{ item.cateNm }}</span>
      </li>
    </ul>
    <b-row class="mb-3" align-v="center">
      <b-col>
        홈 > {{ topCateNm }}
      </b-col>
      <b-col sm="auto">
        <b-form-select v-model="params.addrCd"
                       :options="siAddress"
                       text-field="addr_name"
                       value-field="cd"
                       @change="searchAddrCd"
                       >
        </b-form-select>
      </b-col>
    </b-row>
    <PulseLoader class="text-center py-5" :loading="loading" size="10px"></PulseLoader>
    <b-row v-if="!loading">
      <template v-if="topCateKey === 'goods'">
        <b-col sm="3" v-for="(item, index) in articles" :key="index">
          <ArticleCard
            :to="`/articles/${item.articleSeq}`"
            :img-src="item.photo"
            :title="item.title"
            :date="item.sortDt"
            :price="item.price"
            :address="parseAddress(item)"
            >
          </ArticleCard>
        </b-col>
      </template>
      <template v-else>
        <b-col sm="4" v-for="(item, index) in articles" :key="index">
          <ArticleCard
            :to="`/articles/${item.articleSeq}`"
            :img-src="item.photo"
            :title="item.title"
            :date="item.sortDt"
            :nickname="item.companyNm || item.sellerNickname"
            :address="parseAddress(item)"
            >
          </ArticleCard>
        </b-col>
      </template>
    </b-row>
    <b-row class="my-3" v-if="!loading">
      <b-col class="text-center">
        <b-button v-if="moreEnd === false" class="btn-rounded" @click="fetchMoreArticles" variant="outline-primary">더보기</b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import ArticleCard from '@/views/components/Cards/ArticleCard'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import openApi from '@/apis/open-api'
import { mapState } from 'vuex'
export default {
  name: 'categories',
  props: {
    topCateNm: {
      type: String
    },
    topCateKey: {
      type: String
    },
    topCateCd: {
      type: String
    }
  },
  components: {
    ArticleCard,
    PulseLoader
  },
  data: () => ({
    params: {
      keyword: 'all',
      query: '',
      offset: 0,
      cateCd: '',
      addrCd: ''
    },
    loading: false,
    siAddress: []
  }),
  computed: {
    ...mapState('article', ['articles', 'moreEnd']),
    subCategories () {
      return this.getSubCategories(this.topCateCd)
    }
  },
  async created () {
    this.loading = true
    await this.search({ cateCd: this.topCateCd })
    this.loading = false
    this.fetchAddress()
  },
  mounted () {
  },
  methods: {
    test (a, b) {
      console.log(this.params)
      console.log(a)
    },
    async fetchAddress () {
      let results = await openApi.getSiAddress()
      this.siAddress = [{ addr_name: '전국', cd: '' }].concat(results)
    },
    parseAddress (item) {
      if (item.si) {
        return `${item.si} ${item.gu || ''} ${item.dong || ''}`
      }
      return ''
    },
    async searchAddrCd (addrCd) {
      this.search({ addrCd })
    },
    async search (params) {
      this.loading = true
      try {
        if (params) {
          Object.assign(this.params, params)
        }
        this.params.offset = 0
        console.log('this.params#####: ', this.params)
        let resultParams = await this.$store.dispatch('article/fetchArticles', this.params)
        this.params.cateCd = resultParams.cateCd
      } catch (err) {
        this.handleError(err)
      }
      this.loading = false
    },
    async fetchMoreArticles () {
      try {
        this.params.offset = this.articles.length
        await this.$store.dispatch('article/fetchArticles', this.params)
      } catch (err) {
        this.handleError(err)
      }
    }
  }
}
</script>

<style scoped>
.article-search .nav-pills .nav-link.active {
  font-weight: 800;
}
.article-search .nav-pills .nav-link {
  border-radius: 0;
  font-size: 13px;
  padding: 0.8rem 1rem;
}
</style>
