<template>
  <b-container class="article-manage py-4">
    <b-nav pills class="mb-4 py-2">
      <b-nav-item v-for="(item, index) in categories" :key="index"
                  :active="tabCateCd === item.cateCd"
                  class="mr-2"
                  @click="changeTabCate(item.cateCd)">
        {{ item.cateNm }}
      </b-nav-item>
    </b-nav>
    <b-card class="p-4">
      <b-row align-v="center" class="mb-4">
        <b-col sm="auto">
          <h4>상품관리</h4>
        </b-col>
        <b-col class="text-right">
          <b-button variant="primary" size="sm" @click="$router.push('/category/selection')">
              등록하기
          </b-button>
        </b-col>
      </b-row>
      <b-table
        :fields="fields"
        :items="items"
        responsive
      >
        <template slot="table-colgroup">
          <col v-for="(item, index) in fields" :key="index" :width="!item.width ? '*' : item.width">
        </template>
        <template slot="title" slot-scope="row">
          <router-link :to="`/articles/${row.item.articleSeq}`">{{ row.item.title }}</router-link>
        </template>
        <template slot="articleSt" slot-scope="row">
          <h5><b-badge pill variant="primary">{{ articleSts[row.item.articleSt] }}</b-badge></h5>
        </template>
        <template slot="price" slot-scope="row">
          <vue-numeric separator="," :value="row.item.price || 0" read-only></vue-numeric>원
        </template>
        <template slot="sortDt" slot-scope="row">
          {{ row.item.sortDt | moment("from", "now") }}
        </template>
        <template slot="photo" slot-scope="row">
          <b-img rounded width="50" height="50" :src="image('article', 's', row.item.photo)" alt="Thumbnail" />
        </template>
        <template slot="manage" slot-scope="row">
          <b-dropdown text="관리" variant="light" size="sm">
            <b-dropdown-item-button @click="moveEditPage(row.item.articleSeq)">수정</b-dropdown-item-button>
            <b-dropdown-item-button @click="deleteArticle(row.item.articleSeq)">삭제</b-dropdown-item-button>
            <b-dropdown-item-button v-if="row.item.cateKey === 'free'"><router-link tag="span" :to="`/articles/${row.item.articleSeq}/submit`">신청내역</router-link></b-dropdown-item-button>
          </b-dropdown>
        </template>
      </b-table>
    </b-card>
  </b-container>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data: () => ({
    fields: {
      photo: { label: '사진' },
      title: { label: '상품명', width: '350px', sortable: true },
      cateNm: { label: '카테고리' },
      price: { label: '가격', sortable: true },
      sortDt: { label: '등록일', sortable: true },
      articleSt: { label: '상태' },
      manage: { label: '관리' }
    },
    tabCateCd: '100',
    items: []
  }),
  computed: {
    ...mapState('category', ['categories'])
  },
  async created () {
    await this.fetchMyArticles({ cateCd: this.tabCateCd })
  },
  methods: {
    changeTabCate (cateCd) {
      this.tabCateCd = cateCd
      this.fetchMyArticles({ cateCd })
    },
    async fetchMyArticles (params) {
      try {
        params.sellerId = localStorage.getItem('uid')
        let result = await this.$store.dispatch('article/getMyArticles', params)
        this.items = result.articles
      } catch (err) {
        this.handleError(err)
      }
    },
    moveEditPage (articleSeq) {
      this.$router.push(`/articles/edit/${articleSeq}`)
    },
    async deleteArticle (articleSeq) {
      if (!confirm('삭제 하시겠습니까?')) {
        return
      }
      try {
        await this.$store.dispatch('article/deleteArticle', {
          articleSeq: articleSeq,
          sellerId: localStorage.getItem('uid')
        })
        this.fetchMyArticles()
      } catch (err) {
        this.handleError(err)
      }
    }
  }
}
</script>
<style scoped>
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  font-weight: 700;
}
</style>
