<template>
  <b-container class="main-container">
    <ArticleSearch :topCateKey="topCateKey"
                   :topCateNm="topCateNm"
                   :topCateCd="topCateCd">
    </ArticleSearch>
  </b-container>
</template>

<script>
import ArticleSearch from '@/views/article/ArticleSearch'
export default {
  data: () => ({
    topCateNm: '인테리어'
  }),
  computed: {
    topCateKey () {
      return this.$route.path.split('/')[1]
    },
    topCateCd () {
      return this.$route.params.topCateCd
    }
  },
  components: {
    ArticleSearch
  }
}
</script>