<template>
  <b-container class="article-action main-container">
    <b-card class="p-4">
      <b-form-group horizontal
                    class="mb-4"
                    :label-cols="2"
                    label="이미지">
        <ImgPreview ref="preview"></ImgPreview>
      </b-form-group>
      <b-form-group horizontal
                    class="mb-4"
                    :label-cols="2"
                    label="제목">
        <b-form-input v-model.trim="title"
                      type="text"
                      v-validate="{ required: true, min: 2 }"
                      name="title"
                      :state="validateState('title')"
                      placeholder="제목을 입력해주세요"
                      aria-describedby="titleFeedback"
                      maxlength="40">
        </b-form-input>
        <b-form-invalid-feedback id="titleFeedback">
          제목을 2글자 이상 입력해주세요
        </b-form-invalid-feedback>
      </b-form-group>
      <template v-if="subCategories.length > 1">
        <b-form-group horizontal
                      class="mb-4"
                      :label-cols="2"
                      label="카테고리">
          <b-form-select v-model="cateCd" 
                        value-field="cateCd"
                        text-field="cateNm"
                        name="cateCd"
                        :state="validateState('cateCd')"
                        v-validate="{ required: true }"
                        :options="subCategories"
                        aria-describedby="cateCdFeedback"
                        />
          <b-form-invalid-feedback id="cateCdFeedback">
            카테고리를 선택해주세요
          </b-form-invalid-feedback>
        </b-form-group>
      </template>
      <template v-else>
        <input type="hidden" name="cateCd" :value="topCateCd">
      </template>
      <b-form-group horizontal
                    class="mb-4"
                    :label-cols="2"
                    label="설명">
        <b-form-textarea v-model="contents"
                        name="contents"
                        v-validate="{ required: true }"
                        :state="validateState('contents')"
                        aria-describedby="contentsFeedback"
                        :placeholder="placeholderContents"
                        maxlength="2000"
                        :rows="10"
                        :max-rows="10">
        </b-form-textarea>
        <b-form-invalid-feedback id="contentsFeedback">
          상품에 대한 설명을 작성해주세요
        </b-form-invalid-feedback>
      </b-form-group>
      <b-form-group v-model.trim="siGuDong"
                    horizontal
                    class="mb-4"
                    :label-cols="2"
                    label="거래지역">
        <b-form-input v-model="siGuDong"
                      placeholder="클릭 해주세요"
                      @click.native="openModal" 
                      name="siGuDong"
                      v-validate="{ required: true }"
                      :state="validateState('siGuDong')"
                      aria-describedby="siGuDongFeedback"
                      readonly></b-form-input>
        <b-form-invalid-feedback id="siGuDongFeedback">
          거래지역을 선택해주세요
        </b-form-invalid-feedback>
      </b-form-group>
      <b-form-group horizontal
                    class="mb-4"
                    :label-cols="2"
                    label="가격">
        <b-row>
          <b-col>
            <b-form-input v-model="price"
                          v-mask="'########'"
                          type="number"
                          placeholder="가격 입력 (선택사항)"
                          v-validate="{ max: 8, min_value: 0 }"
                          name="price"
                          :state="validateState('price')"
                          aria-describedby="priceFeedback">
            </b-form-input>
            <b-form-invalid-feedback id="priceFeedback">
              가격을 1억이하로 입력해주세요
            </b-form-invalid-feedback>
          </b-col>
          <b-col class="form-inline">
            <input v-model="priceOffer"
                  class="form-check-input ml-3"
                  type="checkbox"
                  id="priceOffer">
            <label class="form-check-label" for="priceOffer">가격 제안 받기</label>
          </b-col>
        </b-row>
      </b-form-group>
      <b-form-group horizontal
                    class="mb-4"
                    :label-cols="2"
                    label="연락처">
        <b-form-input v-model="tel"
                      type="tel"
                      v-mask="'###-####-####'"
                      placeholder="전화번호 입력 (선택사항)"
                      maxlength="13">
        </b-form-input>
      </b-form-group>
      <b-row>
        <b-col class="text-center">
          <b-button v-if="articleSeq > 0" type="button" @click="editArticle" variant="primary">수정하기</b-button>
          <b-button v-else type="button" @click="addArticle" variant="primary">등록하기</b-button>
        </b-col>
      </b-row>
    </b-card>
    <StepAddressModal ref="modalStepAddress" @save="save"></StepAddressModal>
  </b-container>
</template>

<script>
import ImgPreview from '@/views/components/ImgPreview'
import StepAddressModal from '@/views/components/StepAddressModal'
import { mapState } from 'vuex'
export default {
  data: () => ({
    topCateCd: '',
    articleSeq: '',
    cateCd: '',
    title: '',
    tel: '',
    contents: '',
    price: null,
    priceOffer: null,
    dueDt: null,
    si: '',
    gu: '',
    dong: '',
    addrCd: '',
    photos: [],
    siGuDong: ''
  }),
  components: {
    ImgPreview,
    StepAddressModal
  },
  computed: {
    ...mapState('category', ['categories']),
    subCategories () {
      return this.getSubCategories(this.topCateCd, { cateNm: '전체', cateCd: this.topCateCd })
    },
    isCreateMode () {
      return this.$route.name === 'ArticleCreate'
    },
    placeholderContents () {
      let placeholder = `상품정보를 상세하게 적어주세요.
자세하게 정보를 제공 할 수록 호감도가 올라가요 :)
- 거래하게 된 이유.
- 상품 상세 (구매년도, 스크래치, 색상, 제조일 등등)`
      return placeholder
    }
  },
  async created () {
    if (this.isCreateMode) {
      this.initCreateMode()
    } else {
      await this.initEditMode()
    }
  },
  methods: {
    save (params) {
      this.si = params.si
      this.gu = params.gu
      this.dong = params.dong
      this.addrCd = params.addrCode
      this.siGuDong = `${this.si} ${this.gu} ${this.dong}`
    },
    openModal () {
      this.$refs.modalStepAddress.open()
    },
    initCreateMode () {
      this.topCateCd = this.$route.params.cateCd
      this.cateCd = this.topCateCd
    },
    async initEditMode () {
      this.articleSeq = this.$route.params.articleSeq
      await this.loadArticle()
    },
    async loadArticle () {
      let article = await this.$store.dispatch('article/getArticle', this.articleSeq)
      this.topCateCd = article.topCateCd
      this.title = article.title
      this.cateCd = article.cateCd
      this.tel = article.tel
      this.si = article.si || ''
      this.gu = article.gu || ''
      this.dong = article.dong || ''
      this.addrCd = article.addrCd
      this.siGuDong = `${this.si} ${this.gu} ${this.dong}`
      this.contents = article.contents
      this.articleSt = article.articleSt
      this.photos = article.photos
      this.price = article.price
      this.priceOffer = article.priceOffer === 'Y'
      this.$nextTick(() => {
        this.$refs.preview.setDefaultImages(this.photos)
      })
    },
    async addArticle () {
      let validate = await this.$validator.validateAll()
      if (!validate) {
        return false
      }
      let newArticle = {
        title: this.title,
        cateCd: this.cateCd,
        price: parseInt(this.price || 0),
        priceOffer: this.priceOffer ? 'Y' : 'N',
        si: this.si,
        gu: this.gu,
        dong: this.dong,
        addrCd: this.addrCd,
        contents: this.contents,
        tel: this.tel,
        articleSt: 'sell',
        uploadFiles: this.$refs.preview.uploadFiles,
        sellerId: this.currentUser.sub
      }
      try {
        await this.$store.dispatch('article/addArticle', newArticle)
        alert('등록이 완료되었습니다')
        this.$router.push('/articles/manage')
      } catch (err) {
        this.handleError(err)
      }
    },
    async editArticle () {
      let validate = await this.$validator.validateAll()
      if (!validate) {
        return false
      }
      try {
        let editArticle = {
          articleSeq: parseInt(this.articleSeq),
          title: this.title,
          cateCd: this.cateCd,
          price: parseInt(this.price || 0),
          priceOffer: this.priceOffer ? 'Y' : 'N',
          si: this.si,
          gu: this.gu,
          dong: this.dong,
          addrCd: this.addrCd,
          tel: this.tel,
          contents: this.contents,
          articleSt: 'sell',
          photos: this.photos,
          uploadFiles: this.$refs.preview.uploadFiles,
          removePaths: this.$refs.preview.removePaths,
          sellerId: this.currentUser.sub
        }
        await this.$store.dispatch('article/updateArticle', editArticle)
        alert('수정이 완료되었습니다')
        this.$router.push('/articles/manage')
      } catch (err) {
        this.handleError(err)
      }
    }
  }
}
</script>

<style>
</style>