<template>
  <b-container class="article-category-selection main-container">
    <b-row class="justify-content-center">
      <b-col sm="8">
        <h3 class="mb-5 text-center">카테고리선택</h3>
        <b-row v-if="currentUser.role === 'admin'">
          <b-col sm="6" v-for="(item, index) in categories" :key="index">
            <router-link tag="b-card" class="text-center cursor-pointer align-middle mb-4 py-3" :to="`/articles/create/${item.cateCd}`">
              <h5 class="text-primary font-weight-bold">{{ item.cateNm }}</h5>
              <div class="text-muted">{{ item.cateDesc }}</div>
            </router-link>
          </b-col>
        </b-row>
        <b-row v-else>
          <b-col sm="6" v-if="item.useRole === 'all'" v-for="(item, index) in categories" :key="index">
            <router-link tag="b-card" class="text-center cursor-pointer align-middle mb-4 py-3" :to="`/articles/create/${item.cateCd}`">
              <h5 class="text-primary font-weight-bold">{{ item.cateNm }}</h5>
              <div class="text-muted">{{ item.cateDesc }}</div>
            </router-link>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState('category', ['categories'])
  }
}
</script>

<style>

</style>
