<template>
  <b-container class="article-manage py-5">
    <b-card class="p-4">
      <h4 class="mb-4">신청내역</h4>
      <b-table
        :fields="fields"
        :items="items"
        responsive
      >
        <template slot="nickname" slot-scope="row">
          <b-img rounded="circle" class="mr-1" width="30" height="30" :src="row.item.picture" alt="Thumbnail" />
          {{ row.item.nickname }}
        </template>
        <template slot="button" slot-scope="row">
          <b-button size="sm" @click="showModal(row.item.formContents)">보기</b-button>
        </template>
      </b-table>
    </b-card>
    <b-modal hide-footer title="신청정보" v-model="modalShow">
      <b-form-group
          v-for="(item, index) in modalContents"
          :key="index"
          :label="item.name"
          label-class="text-muted pb-1"
          class="mb-4"
      >
        <div class="font-weight-bold">{{ item.value }}</div>
      </b-form-group>
    </b-modal>
  </b-container>
</template>

<script>
export default {
  data: () => ({
    fields: {
      submitSeq: { label: '신청번호' },
      nickname: { label: '이름' },
      regDt: { label: '신청일' },
      submitSt: { label: '상태' },
      button: { label: '내용보기' }
    },
    tabCateCd: '100',
    items: [],
    modalShow: false,
    modalContents: []
  }),
  computed: {
  },
  async created () {
    this.items = [{
      submitSeq: 1,
      picture: 'https://s3.ap-northeast-2.amazonaws.com/bs-dev-origin/resize/m/profile/201811/15d048f2-2382-4254-bbc6-b31a5523b53d.jpg',
      nickname: '브루스',
      regDt: '2018-01-01 11:23:00',
      formContents: [{'name': '매장명11', 'sort': '1', 'type': 'string', 'value': '매장입니다'}, {'name': '주소', 'sort': '2', 'type': 'textarea', 'value': '주주주주모모모입닌다'}, {'name': '신청수량', 'sort': '3', 'type': 'number', 'value': '2000'}],
      submitSt: '대기'
    },
    {
      submitSeq: 1,
      picture: 'https://s3.ap-northeast-2.amazonaws.com/bs-dev-origin/resize/m/profile/201811/15d048f2-2382-4254-bbc6-b31a5523b53d.jpg',
      nickname: '브루스',
      regDt: '2018-01-01 11:23:00',
      formContents: [{'name': '매장명22', 'sort': '1', 'type': 'string', 'value': '매장입니다'}, {'name': '주소', 'sort': '2', 'type': 'textarea', 'value': '주주주주모모모입닌다'}, {'name': '신청수량', 'sort': '3', 'type': 'number', 'value': '2000'}],
      submitSt: '대기'
    },
    {
      submitSeq: 1,
      picture: 'https://s3.ap-northeast-2.amazonaws.com/bs-dev-origin/resize/m/profile/201811/15d048f2-2382-4254-bbc6-b31a5523b53d.jpg',
      nickname: '브루스',
      regDt: '2018-01-01 11:23:00',
      formContents: [{'name': '매장명33', 'sort': '1', 'type': 'string', 'value': '매장입니다'}, {'name': '주소', 'sort': '2', 'type': 'textarea', 'value': '주주주주모모모입닌다'}, {'name': '신청수량', 'sort': '3', 'type': 'number', 'value': '2000'}],
      submitSt: '대기'
    },
    {
      submitSeq: 1,
      picture: 'https://s3.ap-northeast-2.amazonaws.com/bs-dev-origin/resize/m/profile/201811/15d048f2-2382-4254-bbc6-b31a5523b53d.jpg',
      nickname: '브루스',
      regDt: '2018-01-01 11:23:00',
      formContents: [{'name': '매장명44', 'sort': '1', 'type': 'string', 'value': '매장입니다'}, {'name': '주소', 'sort': '2', 'type': 'textarea', 'value': '주주주주모모모입닌다'}, {'name': '신청수량', 'sort': '3', 'type': 'number', 'value': '2000'}],
      submitSt: '대기'
    }]
  },
  methods: {
    showModal (formContents) {
      console.log('formContents: ', formContents)
      this.modalContents = formContents
      this.modalShow = true
    }
  }
}
</script>
<style>
</style>
