<template>
  <section id="campaign-section">
    <h2 class="section-title">다녀간 <strong>캠페인 목록</strong></h2>
    <b-container>
      <b-row>
        <b-col sm="4" class="mb-4" v-for="(item, index) in campaigns" :key="index">
          <b-card 
                  overlay
                  :img-src="require(`@/${item.img}`)"
                  img-alt="Card Image"
                  text-variant="white"
                  :sub-title="`${item.companyNm}`">
            <div class="card-text">{{ item.campaignNm }}</div>
          </b-card>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="text-center mt-3">
          <b-button variant="outline-primary" @click="$router.push('/cup/campaigns')">더보기</b-button>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
export default {
  data: () => ({
    campaigns: [
      { companyNm: '인천시립교향악단', img: 'assets/cup/campaigns/12.png', campaignNm: '천일야화에피소드' },
      { companyNm: '방탄소년단', img: 'assets/cup/campaigns/11.png', campaignNm: '뷔생일 이벤트' },
      { companyNm: '인천시립교향악단', img: 'assets/cup/campaigns/10.png', campaignNm: '이병욱 예술감독 취임연주회' },
      { companyNm: '인천지식재산센터', img: 'assets/cup/campaigns/9.png', campaignNm: '인천지식재산 페스티벌' },
      { companyNm: '모비앙모발이식', img: 'assets/cup/campaigns/8.png', campaignNm: '광주개원캠페인' },
      { companyNm: '부평아트센터', img: 'assets/cup/campaigns/7.png', campaignNm: '브런치콘서트' }
    ]
  })
}
</script>

<style scoped>
.cup img {
  height: 250px;
  object-fit: cover;
}
.cup #campaign-section {
  padding: 100px 0 !important;
  background-color: #fafafa;
}
.cup #campaign-section .card-img-overlay {
  background-color: #00000045;
}
.cup #campaign-section .card-subtitle {
  color: #ffffff !important;
}
.cup #campaign-section .card-text {
  font-family: 'NanumSquareRound', sans-serif !important;
  letter-spacing: -0.6px;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  bottom: 12px;
}
.cup #campaign-section button {
  width: 140px;
  border-radius: 30px;
  padding: 10px 0px;
}
</style>
