<template>
  <b-container id="news-section" class="section">
    <h2 class="section-title mb-2"><strong>믿을 수 있는</strong> 스타트업</h2>
    <p class="text-center text-muted mb-5">많은 기업과 정부기관으로부터 가능성을 인정 받았습니다</p>
    <b-row class="justify-content-center">
      <b-col sm="8" class="mb-3" v-for="(item, index) in news" :key="index">
        <b-card class="shadow-lg border-0">
          <div class="card-body">
            <b-row>
              <b-col sm="auto"></b-col>
              <b-col class="title">{{ item.title }}</b-col>
              <b-col class="text-muted" sm="auto">{{ item.date }}</b-col>
            </b-row>
          </div>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data: () => ({
    news: [
      { img: '', title: 'SW융합 글로벌 지원사업 선정', date: '2018년 5월' },
      { img: '@/assets/cup/smart.png', title: '2018년 스마트벤처캠퍼스 선정', date: '2018년 5월' },
      { img: '@/assets/cup/ripc.png', title: '인천지식재산센터 "IP나래" 선정', date: '2018년 4월' },
      { img: '@/assets/cup/incheon.png', title: '인천콘텐츠코리아랩 "스타트업챌린지" 선정', date: '2018년 2월' }
    ]
  })
}
</script>

<style scoped>
.cup #news-section {
  padding: 100px 0;
}
.cup #news-section .title {
  font-size: 18px;
  font-weight: 700;
}
</style>
