<template>
  <b-container id="status-section">
    <h2 class="section-title">캠페인 <strong>현황</strong></h2>
    <b-row class="mt-5">
      <b-col class="text-center left">
        <div class="dot wrapper mb-3">
          <div class="dot"></div>
        </div>
        <p class="subtitle">지난 캠페인</p>
        <b-card v-for="(item, index) in dumy1" :key="index">
          <div class="campaign-desc">
            <span class="title">{{ item.campaignNm }}</span><br>
            {{ item.companyNm }} {{ item.date }}
          </div>
        </b-card>
      </b-col>
      <b-col class="text-center center">
        <div class="dot wrapper mb-3">
          <div class="dot"></div>
        </div>
        <p class="subtitle font-weight-bold">진행/준비</p>
        <b-card v-for="(item, index) in dumy2" :key="index">
          <div class="campaign-desc">
            <span class="title">{{ item.campaignNm }}</span><br>
            {{ item.companyNm }} {{ item.date }}
          </div>
        </b-card>
      </b-col>
      <b-col class="text-center right">
        <div class="dot wrapper mb-3">
          <div class="dot"></div>
        </div>
        <p class="subtitle">예정</p>
        <b-card v-for="(item, index) in dumy3" :key="index">
          <div class="campaign-desc">
            <span class="title">{{ item.campaignNm }}</span><br>
            {{ item.companyNm }} {{ item.date }}
          </div>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data: () => ({
    dumy1: [
      { campaignNm: '이병욱 예술감독 취임연주회', companyNm: '인천시립교향악단', date: '18\'10' },
      { campaignNm: '브런치콘서트', companyNm: '부평아트센터', date: '' },
      { campaignNm: '창단연주회', companyNm: '인천대학연합오케스트라', date: '' }
    ],
    dumy2: [
      { campaignNm: '광주개원캠페인', companyNm: '모비앙모발이식', date: '' },
      { campaignNm: '인천지식재산 페스티벌', companyNm: '인천지식재산센터', date: '18\'11' }
    ],
    dumy3: [
      { campaignNm: '천일야화에피소드', companyNm: '인천시립교향악단', date: '18\'12' },
      { campaignNm: '뷔생일 이벤트', companyNm: '방탄소년단', date: '18\'12' }
    ]
  })
}
</script>

<style scoped>
.cup #status-section {
  padding: 0 0 100px 0;
}
.cup #status-section .dot {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50% !important;
}
.cup #status-section .dot.wrapper {
  width: 36px;
  height: 36px;
  padding: 6px 0;
}
.cup #status-section .left .dot.wrapper > .dot { background-color: #828282; }
.cup #status-section .left .dot.wrapper { background-color: #8282824a; }
.cup #status-section .center .dot.wrapper > .dot { background-color: #009dff; }
.cup #status-section .center .dot.wrapper { background-color: #009dff4a; }
.cup #status-section .right .dot.wrapper > .dot { background-color: #7fceff; }
.cup #status-section .right .dot.wrapper { background-color: #7fceff4a; }
.cup #status-section .subtitle {
  font-size: 18px;
  margin-bottom: 1.5rem !important;
  font-family: 'NanumSquareRound', sans-serif !important;
}
.cup #status-section .subtitle.font-weight-bold {
  font-weight: 900 !important;
}
.cup #status-section .card {
  border-radius: 8px;
  margin-bottom: 16px;
  border: none;
  min-width: 270px;
  /* max-width: 300px; */
  display: inline-block;
  box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.15);
}
.cup #status-section .left .card-body { background: #828282; }
.cup #status-section .center .card-body { background: #009dff; }
.cup #status-section .right .card-body { background: #7fceff; }
.cup #status-section .card-body {
  border-radius: 8px;
  padding: 0;
  padding-left: 30px;
}
.cup #status-section .card-body > .campaign-desc {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #ffffff;
  text-align: left;
  padding: 25px 0 25px 20px;
}
.cup #status-section .card-body .title {
  font-weight: 800;
  font-size: 16px;
  font-family: 'NanumSquareRound', sans-serif !important;
}
</style>
