<template>
  <section id="step-section">
    <b-container>
      <h2 class="section-title">캠페인 <strong>진행순서</strong></h2>
      <b-row>
        <b-col class="text-center first">
          <b-img thumbnail rounded="circle" width="150" height="150" :src="require('@/assets/cup/step1.jpg')" alt="Thumbnail" />
          <div class="step-name">캠페인신청</div>
        </b-col>
        <b-col class="text-center">
          <b-img thumbnail rounded="circle" width="150" height="150" :src="require('@/assets/cup/step2.jpg')" alt="Thumbnail" />
          <div class="step-name">디자인제작</div>
        </b-col>
        <b-col class="text-center">
          <b-img thumbnail rounded="circle" width="150" height="150" :src="require('@/assets/cup/step3.jpg')" alt="Thumbnail" />
          <div class="step-name">배포처매칭</div>
        </b-col>
        <b-col class="text-center">
          <b-img thumbnail rounded="circle" width="150" height="150" :src="require('@/assets/cup/step4.jpg')" alt="Thumbnail" />
          <div class="step-name">제작/배포</div>
        </b-col>
        <b-col class="text-center">
          <b-img thumbnail rounded="circle" width="150" height="150" :src="require('@/assets/cup/step5.jpg')" alt="Thumbnail" />
          <div class="step-name">결과보고서</div>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
export default {

}
</script>

<style scoped>
.cup #step-section {
  padding: 100px 0 !important;
  background-color: #009dff;
  color: #ffffff;
}
.cup #step-section .col:not(.first):after {
  content: '';
  position: absolute;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0.1em 0.1em 0 0;
  height: 1em;
  top: 54%;
  left: -0.7em;
  margin-top: -1em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 1em;
}
.cup #step-section .step-name {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 800;
  font-family: 'NanumSquareRound', sans-serif !important;
}
</style>
