<template>
  <v-app class="cup">
    <router-view name="header"></router-view>
    <router-view></router-view>
    <router-view name="footer"></router-view>
  </v-app>
</template>

<script>
export default {
  name: 'defaultLayout'
}
</script>

<style>
</style>
