.article-card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.article-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // font-size: 15px;
  font-weight: 700;
}
.article-card img {
  object-fit: cover;
}
.article-card img {
  max-height: 180px !important;
}
.article-card .card-footer {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  padding-top: 4px;
  padding-bottom: 7px;
}
.article-footer {
  position: fixed;
  z-index: 3;
  bottom: 0;
  font-size: 18px;
  width: 100%;
  left: 0;
}
.article-footer .btn-submit {
  padding: 18px 18px;
  color: white;
}