/* common css */
@import '@/styles/bootstrap-custom.scss';
@import './web-article.scss';
@import './web-table.scss';
#app {
  // background-color: $purple;
  // font-size: 14px;
  padding-top: 56px !important;
  font-family: 'NanumSquare', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav-link {
  color: $body-color;
}
.form-control {
  font-size: 0.88rem !important;
}
#app input[type=password] {
  font-family: 'monospace', sans-serif;
}
.font-round {
  font-family: 'NanumSquareRound', sans-serif !important;
}

@media (min-width: 576px) {
  .main-container {
    padding: 3rem 16px !important;
    // min-width: 600px !important;
    max-width: 970px !important;
    min-height: 600px !important;
  }
}

.main-sm-container {
  padding: 3rem 16px !important;
  min-width: 400px !important;
  max-width: 600px !important;
  min-height: 600px !important;
}
.sub-container {
  padding: 3rem 16px !important;
  min-width: 600px !important;
  max-width: 970px !important;
}
.card-background {
  background-position: 50%;
  background-size: cover;
  position: relative;
}
.card-background > * {
  color: #fff;
  position: relative;
  z-index: 3 !important;
}
.card-background:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: .25rem;
}
.cursor-pointer {
  cursor: pointer !important;
}
.logo {
  color: #007BFF !important;
  font-family: 'NanumSquareRound', sans-serif !important;
  font-weight: 800 !important;
}
.logo small {
  font-size: 60%;
  font-weight: 600;
  margin-left: 4px;
  letter-spacing: -0.02rem;
}
/* page */
.page-title {
  font-size: 40px !important;
  font-family: 'NanumSquareRound', sans-serif;
  font-weight: 600;
  text-align: center;
}
.page-desc {
  font-size: 18px !important;
  text-align: center;
  color: #8b8b8b;
}
.btn-rounded {
  font-size: 15px;
  width: 120px;
  border-radius: 30px !important;
  padding: 8px 0px !important;
}
table td {
  vertical-align: middle !important;
}