<template>
  <div class="home">
    <section class="header card-background" :style="{ backgroundImage: `url(${require('@/assets/bg/bg-main-banner5.jpg')})` }">
      <b-container class="sub-container">
        <h1>세상의 모든 커피숍을 완성하다</h1>
        <p>이제 안쓰는 물건 수수료 없이! 직거래 하자!</p>
      </b-container>
    </section>
    <b-container class="main-container">
      <h2 class="mb-4 page-title">빙고쉐어 HOT 상품</h2>
      <b-tabs class="justify-content-center main-tabs" pills mx-auto>
        <b-tab title="중고상품" @click="fetchArticles('100')">
          <b-row>
            <b-col class="col-sm-3" v-for="(item, index) in articles" :key="index">
              <ArticleCard
                :to="`/articles/${item.articleSeq}`"
                :img-src="item.photo"
                :title="item.title"
                :date="item.sortDt"
                :price="item.price"
                :address="parseAddress(item)"
                >
              </ArticleCard>
            </b-col>
          </b-row>
          <b-row class="my-4">
            <b-col class="text-center">
              <b-button class="btn-rounded" to="/goods/100" variant="outline-primary">더보기</b-button>
            </b-col>
          </b-row>
        </b-tab>
        <b-tab title="무료나눔" @click="fetchArticles('200')">
          <b-row>
            <b-col class="col-sm-3" v-for="(item, index) in articles" :key="index">
              <ArticleCard
                :to="`/articles/${item.articleSeq}`"
                :img-src="item.photo"
                :title="item.title"
                :date="item.sortDt"
                :nickname="item.companyNm || item.sellerNickname"
                :address="parseAddress(item)"
                >
              </ArticleCard>
            </b-col>
          </b-row>
          <b-row class="my-4">
            <b-col class="text-center">
              <b-button class="btn-rounded" to="/free/200" variant="outline-primary">더보기</b-button>
            </b-col>
          </b-row>
        </b-tab>
      </b-tabs>
    </b-container>
  </div>
</template>

<script>
import ArticleCard from './components/Cards/ArticleCard'
export default {
  name: 'home',
  components: {
    ArticleCard
  },
  data: () => ({
    articles: []
  }),
  created () {
  },
  mounted () {
  },
  methods: {
    parseAddress (item) {
      if (item.si) {
        return `${item.si} ${item.gu || ''} ${item.dong || ''}`
      }
      return ''
    },
    async fetchArticles (cateCd) {
      try {
        let result = await this.$store.dispatch('article/getArticles', {
          limit: 8,
          cateCd: cateCd
        })
        this.articles = result.articles
      } catch (err) {
        this.handleError(err)
      }
    }
  }
}
</script>

<style>
.home > .header {
  height: 500px;
  padding: 120px 0;
  text-align: center;
  background-position: 50% 60%;
}
.home > .header > * {
  color: #fff;
  font-family: 'NanumSquareRound', sans-serif !important;
}
.home > .header h1 {
  font-size: 45px;
  font-weight: 900 !important;
  margin-bottom: 10px;
}
.home > .header p {
  font-size: 20px;
  margin-bottom: 24px;
  font-weight: 600 !important;
}
.home .nav.nav-pills {
  justify-content: center !important;
  margin: 0 0 40px 0;
}
.home .main-tabs a {
  border: 1px #007bff solid;
  border-radius: 30px;
  margin: 0 4px;
}
</style>
