<template>
  <b-container class="login main-container">
    <b-row class="justify-content-center">
      <b-col sm="5" class="center-wrapper">
        <b-card class="p-4">
          <h3 class="mb-4 text-center font-weight-bold">로그인</h3>
          <b-form-group
              label="휴대폰번호(ID)"
          >
            <b-form-input placeholder="'-' 없이 숫자만 입력하세요"
                          type="tel"
                          v-mask="'###########'"
                          v-model.trim="username"
                          name="username"
                          :state="validateState('username')"
                          v-validate="{required: true, min: 11, max: 11}"
                          aria-describedby="usernameFeedback"
                          maxlength="11"
                          >
            </b-form-input>
            <b-form-invalid-feedback id="usernameFeedback">
              휴대폰번호 형식이 유효하지 않습니다
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
              label="비밀번호"
          >
            <b-form-input v-model.trim="password"
                          type="password"
                          name="비밀번호"
                          :state="validateState('비밀번호')"
                          v-validate="{required: true, min: 8, max: 16}"
                          aria-describedby="usernameFeedback"
                          maxlength="16"
                          >
            </b-form-input>
            <b-form-invalid-feedback id="usernameFeedback">
              비밀번호를 확인해주세요
            </b-form-invalid-feedback>
          </b-form-group>
          <p class="signup-question">
            회원이 아니세요? <router-link tag="a" to="/signup" role="button">회원가입</router-link>
          </p>
          <b-button type="button" @click="login" block variant="primary">로그인</b-button>
          <p class="mt-4 signup-question text-center">
            <router-link tag="a" to="#" href="javascript: alert(2)" role="button">혹시 비밀번호를 잊으셨나요?</router-link>
          </p>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'login',
  data: () => ({
    username: '',
    password: ''
  }),
  methods: {
    temp () {
    },
    async login () {
      let validate = await this.$validator.validateAll()
      if (!validate) {
        return false
      }
      try {
        let params = {
          username: '+82' + this.username,
          password: this.password
        }
        await this.$store.dispatch('user/login', params)
        this.$router.push('/')
      } catch (err) {
        this.handleError(err)
      }
    }
  }
}
</script>

<style>
.login {
  padding-top: 100px !important;
}
.login .center-wrapper,
.signup .center-wrapper {
  min-width: 360px;
}
.login .signup-question {
  color: #848484;
  font-size: 14px;
}
</style>
