<template>
  <b-container class="article-action main-container">
    <b-card class="p-4">
      <b-form-group horizontal class="mb-4" :label-cols="2" label="주문번호">
        <b-form-input v-model="orderSeq" type="number" placeholder="주문번호를 입력해주세요">
        </b-form-input>
      </b-form-group>
      <b-form-group horizontal class="mb-4" :label-cols="2" label="상품번호">
        <b-form-input v-model="articleSeq" type="number" placeholder="상품번호를 입력해주세요">
        </b-form-input>
      </b-form-group>
      <b-form-group horizontal class="mb-4" :label-cols="2" label="구매자명">
        <b-form-input v-model="receiverNm" type="text">
        </b-form-input>
      </b-form-group>
      <b-form-group horizontal class="mb-4" :label-cols="2" label="연락처">
        <b-form-input v-model="receiverPhone" type="text" v-mask="'###-####-####'" maxlength="13">
        </b-form-input>
      </b-form-group>
      <b-form-group horizontal class="mb-4" :label-cols="2" label="기본주소">
        <b-form-input v-model="basicAddr" type="text" placeholder="기본 주소"></b-form-input>
      </b-form-group>
      <b-form-group horizontal class="mb-4" :label-cols="2" label="상세주소">
        <b-form-input v-model="detailAddr" type="text" placeholder="상세 주소"></b-form-input>
      </b-form-group>
      <b-form-group horizontal class="mb-4" :label-cols="2" label="메모">
        <b-form-textarea v-model="memo" maxlength="2000" :rows="10" :max-rows="10">
        </b-form-textarea>
      </b-form-group>
      <b-row>
        <b-col class="text-center">
          <b-button type="button" @click="getOrder" variant="primary">주문정보 불러오기</b-button>
          <b-button type="button" @click="addOrder" variant="primary">등록하기</b-button>
        </b-col>
      </b-row>
    </b-card>
    <b-card class="p-4">
      <b-form-group horizontal class="mb-4" :label-cols="2" label="댓글">
        <b-form-input v-model="comment" type="text" ></b-form-input>
      </b-form-group>
      <b-form-group horizontal class="mb-4" :label-cols="2" label="댓글식별자">
        <b-form-input v-model="commentSeq" type="text" ></b-form-input>
      </b-form-group>
      <b-row>
        <b-col class="text-center">
          <b-button type="button" @click="addComment" variant="primary">댓글 등록</b-button>
          <b-button type="button" @click="removeComment" variant="warning">댓글 삭제</b-button>
        </b-col>
      </b-row>
    </b-card>
    <b-card class="p-4">
      <b-row>
        <b-col class="text-center">
          <b-button type="button" @click="fetchOrderArticles" variant="primary">구매/신청 목록가져오기</b-button>
        </b-col>
      </b-row>
      <b-row v-for="(item, index) in orderArticles" :key="index">
        {{ item }}
      </b-row>
      <b-row>
        <b-col class="text-center">
          <b-button type="button" v-if="!orderArticlesMoreEnd" @click="fetchMoreOrderArticles" variant="primary">구매/신청 더보기</b-button>
        </b-col>
      </b-row>
    </b-card>
    <b-card class="p-4">
      <b-form-group horizontal class="mb-4" :label-cols="2" label="상품번호">
        <b-form-input v-model="orderArticleSeq" type="text" ></b-form-input>
      </b-form-group>
      <b-row>
        <b-col class="text-center">
          <b-button type="button" @click="fetchArticleOrders" variant="primary">신청자 목록가져오기</b-button>
        </b-col>
      </b-row>
      <b-row v-for="(item, index) in articleOrders" :key="index">
        {{ item }}
      </b-row>
      <b-row>
        <b-col class="text-center">
          <b-button type="button" v-if="!articleOrdersMoreEnd" @click="fetchMoreArticleOrders" variant="primary">신청자 더보기</b-button>
        </b-col>
      </b-row>
    </b-card>
  </b-container>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data: () => ({
    articleSeq: 572,
    orderSt: 'order',
    receiverNm: '호로로롤',
    receiverPhone: '010-1234-5678',
    basicAddr: '인천 연수구 송도문화로 119',
    detailAddr: '글로벌캠퍼스',
    memo: '메모없쪙!!!!',
    orderArticleSeq: '',
    comment: '',
    commentSeq: '',
    orderSeq: ''
  }),
  computed: {
    ...mapState('order', ['orderArticles', 'orderArticlesMoreEnd', 'articleOrders', 'articleOrdersMoreEnd'])
  },
  methods: {
    async addOrder () {
      let newOrder = {
        articleSeq: parseInt(this.articleSeq),
        orderSt: this.orderSt,
        receiverNm: this.receiverNm,
        receiverPhone: this.receiverPhone,
        basicAddr: this.basicAddr,
        detailAddr: this.detailAddr,
        memo: this.memo,
        orderUid: this.currentUser.sub
      }
      try {
        await this.$store.dispatch('order/addOrder', newOrder)
        alert('등록이 완료되었습니다')
      } catch (err) {
        this.handleError(err)
      }
    },
    async fetchOrderArticles () {
      try {
        await this.$store.dispatch('order/fetchOrderArticles', {
          orderUid: this.currentUser.sub
        })
      } catch (err) {
        this.handleError(err)
      }
    },
    async fetchMoreOrderArticles () {
      try {
        await this.$store.dispatch('order/fetchOrderArticles', {
          orderUid: this.currentUser.sub,
          offset: this.orderArticles.length
        })
      } catch (err) {
        this.handleError(err)
      }
    },
    async fetchArticleOrders () {
      try {
        await this.$store.dispatch('order/fetchArticleOrders', {
          articleSeq: parseInt(this.orderArticleSeq)
        })
      } catch (err) {
        this.handleError(err)
      }
    },
    async fetchMoreArticleOrders () {
      try {
        await this.$store.dispatch('order/fetchArticleOrders', {
          articleSeq: parseInt(this.orderArticleSeq),
          offset: this.articleOrders.length
        })
      } catch (err) {
        this.handleError(err)
      }
    },
    async addComment () {
      let newComment = {
        articleSeq: parseInt(this.articleSeq),
        comment: this.comment,
        regUid: this.currentUser.sub
      }
      try {
        await this.$store.dispatch('comment/addComment', newComment)
        alert('등록이 완료되었습니다')
      } catch (err) {
        this.handleError(err)
      }
    },
    async getOrder () {
      try {
        let order = await this.$store.dispatch('order/getOrder', {
          orderSeq: parseInt(this.orderSeq)
        })
        this.articleSeq = order.articleSeq
        this.orderSt = order.orderSt
        this.receiverNm = order.receiverNm
        this.receiverPhone = order.receiverPhone
        this.basicAddr = order.basicAddr
        this.detailAddr = order.detailAddr
        this.memo = order.memo
      } catch (err) {
        this.handleError(err)
      }
    },
    async removeComment () {
      let removeComment = {
        commentSeq: parseInt(this.commentSeq),
        regUid: this.currentUser.sub
      }
      try {
        await this.$store.dispatch('comment/removeComment', removeComment)
        alert('등록이 완료되었습니다')
      } catch (err) {
        this.handleError(err)
      }
    }
  }
}
</script>

<style>
</style>