<template>
  <b-container class="profile main-container">
    <b-row class="justify-content-center">
      <b-col sm="7">
        <b-card class="p-4">
          <h3 class="mb-4">내정보 편집</h3>
          <div>
            <croppa v-model="croppa"
                    class="text-center"
                    style="padding: 20px 0px 40px;"
                    :file-size-limit="limitSize"
                    accept="image/*"
                    canvas-color="#f3f3f3"
                    @new-image="onNewImage"
                    :width="150"
                    :height="150"
                    placeholder-color="#2c3e50"
                    :placeholder-font-size="14"
                    @image-remove="onRemoveImage"
                    placeholder="프로필 사진을 등록하세요"
                    @file-size-exceed="onFileSizeExceed"
                    :initial-image="image('profile', 'm', picture)"
                    @file-type-mismatch="onFileTypeMismatch"
            >
            </croppa>
          </div>
          <b-form-group horizontal
                        class="mb-4"
                        label="닉네임"
                        :label-cols="3"
                        label-for="input_default">
            <b-form-input v-model="nickname"
                          placeholder="닉네임을 입력해주세요"
                          maxlength="12"
                          name="nickname"
                          :state="validateState('nickname')"
                          v-validate="{required: true, min: 2}"
                          aria-describedby="nicknameFeedback"
                          ></b-form-input>
          <b-form-invalid-feedback id="nicknameFeedback">
            닉네임은 2글자 이상 입력해주세요
          </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group horizontal
                        class="mb-4"
                        :label-cols="3"
                        label="직업"
                        label-for="input_default">
            <b-form-select v-model="job"
                          :options="jobs"
                          maxlength="12"
                          name="job"
                          :state="validateState('job')"
                          v-validate="{required: true}"
                          aria-describedby="jobFeedback"
                          />
            <b-form-invalid-feedback id="jobFeedback">
              직업을 선택해주세요
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group horizontal
                        class="mb-4"
                        :label-cols="3"
                        label="성별">
            <b-form-radio-group v-model="gender"
                        class="pt-1"
                        :options="genders"
                        name="radioInline">
            </b-form-radio-group>
          </b-form-group>
          <b-form-group horizontal
                        class="mb-4"
                        :label-cols="3"
                        label="생년월일"
                        label-for="input_default">
            <b-form-input v-model="birthdate"
                          v-mask="'####-##-##'"
                          placeholder="생년월일을 입력해주세요"
                          name="birthdate"
                          :state="validateState('birthdate')"
                          v-validate="{required: true, min: 10}"
                          aria-describedby="birthdateFeedback"
                          maxlength="10"
            ></b-form-input>
            <b-form-invalid-feedback id="birthdateFeedback">
              생년월일 형식이 유효하지 않습니다
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group horizontal
                        class="mb-4"
                        :label-cols="3"
                        label="휴대폰번호"
                        label-for="input_default"
                        >
            <b-form-input v-model="phoneNumber"
                          placeholder="휴대폰번호을 입력해주세요"
                          readonly
                          ></b-form-input>
          </b-form-group>
          <b-row>
            <b-col class="text-center">
              <b-button type="button" variant="primary" @click="save">저장하기</b-button>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import empty from 'is-empty'
export default {
  data: () => ({
    username: '',
    nickname: '',
    job: null,
    gender: 'FEMALE',
    birthdate: '',
    phoneNumber: '',
    picture: '',
    newFile: {},
    removePath: '',
    role: '',
    croppa: {},
    limitSize: 1024 * 1024 * 5 // 5MB
  }),
  created () {
    this.fetchCurrentUser()
  },
  methods: {
    async fetchCurrentUser () {
      try {
        if (empty(this.$store.state.user.currentUser)) {
          await this.$store.dispatch('user/fetchCurrentUser')
        }
        this.setProfile()
      } catch (err) {
        this.handleError(err)
      }
    },
    setProfile () {
      this.job = this.currentUser.job
      this.role = this.currentUser.role
      this.gender = this.currentUser.gender
      this.picture = this.currentUser.picture
      this.nickname = this.currentUser.nickname
      this.birthdate = this.currentUser.birthdate
      this.phoneNumber = this.currentUser.phoneNumberV2
    },
    onRemoveImage () {
      if (this.picture) {
        this.removePath = `origin/${this.picture}`
        this.picture = ''
      }
      this.newFile = {}
    },
    onNewImage () {
      this.newFile = this.croppa.chosenFile
    },
    onFileTypeMismatch () {
      alert('이미지 파일만 업로드해주세요')
    },
    onFileSizeExceed (file) {
      alert('5MB 이하의 파일을 업로드해주세요')
    },
    async save () {
      console.log('#### save #####')
      let validate = await this.$validator.validateAll()
      console.log('validate : ', validate)
      if (!validate) {
        return false
      }
      try {
        await this.$store.dispatch('user/saveUser', {
          job: this.job,
          role: this.role,
          gender: this.gender,
          picture: this.picture,
          newFile: this.newFile,
          nickname: this.nickname,
          uid: this.currentUser.sub,
          birthdate: this.birthdate,
          removePath: this.removePath,
          phoneNumber: `+82${this.phoneNumber}`
        })
        alert('수정이 완료되었습니다')
        this.setProfile()
      } catch (err) {
        this.handleError(err)
      }
    }
  }
}
</script>

<style>
.profile .croppa-container canvas {
  border-radius: 50%;
}
</style>
