<template>
  <b-container class="signup main-container">
    <b-row class="justify-content-center">
      <b-col sm="5" class="center-wrapper">
        <b-card class="p-4">
          <h3 class="mb-4 text-center font-weight-bold">회원가입</h3>
          <b-form-group
              label="휴대폰번호(ID)"
          >
            <b-form-input placeholder="'-' 없이 숫자만 입력하세요"
                          v-mask="'###########'"
                          type="tel"
                          v-model.trim="username"
                          name="휴대폰번호"
                          :state="validateState('휴대폰번호')"
                          v-validate="{required: true, min: 11, max: 11}"
                          aria-describedby="usernameFeedback"
                          maxlength="11"
                          >
            </b-form-input>
            <b-form-invalid-feedback id="usernameFeedback">
              휴대폰번호 형식이 유효하지 않습니다
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
              label="비밀번호"
          >
            <b-form-input type="password"
                          placeholder="8 ~ 16자리로 입력해주세요"
                          v-model.trim="password"
                          name="password"
                          :state="validateState('password')"
                          v-validate="{required: true, min: 8, max: 16}"
                          aria-describedby="passwordFeedback"
                          maxlength="16"
                          >
            </b-form-input>
            <b-form-invalid-feedback id="passwordFeedback">
              비밀번호를 확인해주세요
            </b-form-invalid-feedback>
            <b-form-input type="password"
                          class="mt-1"
                          v-model.trim="passwordConfirm"
                          name="passwordConfirm"
                          :state="validateState('passwordConfirm')"
                          v-validate="{required: true, confirmed: password} "
                          aria-describedby="passworConfirmFeedback"
                          maxlength="16"
                          >
            </b-form-input>
            <b-form-invalid-feedback id="passworConfirmFeedback">
              입력하신 비밀번호와 동일하게 입력해주세요
            </b-form-invalid-feedback>
          </b-form-group>
          <hr class="my-4">
          <b-form-group
              label="닉네임"
          >
            <b-form-input placeholder="닉네임을 입력해주세요"
                          type="text"
                          v-model.trim="nickname"
                          name="닉네임"
                          :state="validateState('닉네임')"
                          v-validate="{required: true, min: 2, max: 12} "
                          aria-describedby="nicknameFeedback"
                          maxlength="12"
                          >
            </b-form-input>
            <b-form-invalid-feedback id="nicknameFeedback">
              닉네임은 2글자 이상 입력해주세요
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
              label="직업"
          >
            <b-form-select v-model="job"
                          :options="jobs"
                          name="직업"
                          :state="validateState('직업')"
                          v-validate="{required: true} "
                          aria-describedby="jobFeedback"
            />
            <b-form-invalid-feedback id="jobFeedback">
              직업을 선택해주세요
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
              label="성별"
          >
            <b-form-radio-group v-model="gender"
                              :options="genders"
                              name="radioInline"
            >
            </b-form-radio-group>
          </b-form-group>
          <b-form-group
              label="생년월일"
          >
            <b-form-input placeholder="생년월일을 입력해주세요"
                          type="text"
                          v-mask="'####-##-##'"
                          v-model.trim="birthdate"
                          name="birthdate"
                          :state="validateState('birthdate')"
                          v-validate="{required: true, min: 10}"
                          aria-describedby="birthdateFeedback"
                          maxlength="10"
                          >
            </b-form-input>
            <b-form-invalid-feedback id="birthdateFeedback">
              생년월일 형식이 유효하지 않습니다
            </b-form-invalid-feedback>
          </b-form-group>
          <b-button type="button" @click="signUp" block variant="primary">회원가입</b-button>


          <b-row>
            <b-col sm="6">
              
            </b-col>
            <b-col sm="6">
              
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'login',
  data: () => ({
    username: '',
    password: '',
    passwordConfirm: '',
    nickname: '',
    job: null,
    gender: 'FEMALE',
    birthdate: ''
  }),
  computed: {
  },
  methods: {
    async signUp () {
      let validate = await this.$validator.validateAll()
      if (!validate) {
        return false
      }
      let phoneNumber = `+82${this.username}`
      let params = {
        username: phoneNumber,
        phoneNumber: phoneNumber,
        password: this.password,
        nickname: this.nickname,
        job: this.job,
        gender: this.gender,
        birthdate: this.birthdate
      }
      try {
        await this.$store.dispatch('user/signUp', params)
        await this.$store.dispatch('user/login', {
          username: params.username,
          password: params.password
        })
        this.$router.push('/')
      } catch (err) {
        this.handleError(err)
      }
    }
  }
}
</script>

<style scoped>
.signup {
  padding-top: 100px !important;
}
.signup .center-wrapper {
  min-width: 360px;
}
</style>
