<template>
  <router-link class="article-card cursor-pointer" tag="div" role="button" :to="to">
    <b-card no-body
            :img-src="image('article', 's', imgSrc)"
            img-alt="Image"
            img-top
            class="mb-4"
      >
      <b-card-body class="p-3">
        <h6 class="article-title">{{ title }}</h6>
        <b-row>
          <b-col class="article-title">
            <span v-if="price" class="font-weight-bold text-primary">
              <vue-numeric separator="," :value="price || 0" read-only></vue-numeric>원
            </span>
            <small v-else-if="nickname" class="text-muted">
              {{ nickname }}
            </small>
          </b-col>
          <b-col sm="auto" class="text-right"><small class="text-muted">{{ date | moment("from", "now") }}</small></b-col>
        </b-row>
      </b-card-body>
      <b-list-group flush v-if="address">
        <b-list-group-item class="card-footer"><small>{{ address }}</small></b-list-group-item>
      </b-list-group>
    </b-card>
  </router-link>
</template>
<script>
export default {
  props: {
    imgSrc: {
      required: false
    },
    to: {
      type: String
    },
    title: {
      type: String,
      required: true
    },
    price: {
      required: false
    },
    nickname: {
      required: false
    },
    date: {
      required: false
    },
    address: {
      required: false
    }
  },
  methods: {
  }
}
</script>
<style>
</style>
