<template>
  <section class="campaign py-5">
    <h2 class="page-title">
      많은 고객들이 서비스에 만족해 하십니다
    </h2>
    <b-container>
      <b-row>
        <b-col sm="4" class="mb-4" v-for="(item, index) in campaigns" :key="index">
          <b-card 
                  overlay
                  :img-src="require(`@/${item.img}`)"
                  img-alt="Card Image"
                  text-variant="white"
                  :sub-title="`${item.companyNm}`">
            <div class="card-text">{{ item.campaignNm }}</div>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>
<script>
export default {
  data: () => ({
    campaigns: [
      { companyNm: '인천시립교향악단', img: 'assets/cup/campaigns/12.png', campaignNm: '천일야화에피소드' },
      { companyNm: '방탄소년단', img: 'assets/cup/campaigns/11.png', campaignNm: '뷔생일 이벤트' },
      { companyNm: '인천시립교향악단', img: 'assets/cup/campaigns/10.png', campaignNm: '이병욱 예술감독 취임연주회' },
      { companyNm: '인천지식재산센터', img: 'assets/cup/campaigns/9.png', campaignNm: '인천지식재산 페스티벌' },
      { companyNm: '모비앙모발이식', img: 'assets/cup/campaigns/8.png', campaignNm: '광주개원캠페인' },
      { companyNm: '부평아트센터', img: 'assets/cup/campaigns/7.png', campaignNm: '브런치콘서트' },
      { companyNm: '인천대학연합오케스트라', img: 'assets/cup/campaigns/6.png', campaignNm: '창단연주회' },
      { companyNm: '인천시립교향악단', img: 'assets/cup/campaigns/5.png', campaignNm: '2018시즌' },
      { companyNm: '인천광역치매센터', img: 'assets/cup/campaigns/4.png', campaignNm: '브랜드홍보' },
      { companyNm: '인천문화예술회관', img: 'assets/cup/campaigns/3.png', campaignNm: '커피콘서트' },
      { companyNm: 'IBITP일자리지원단', img: 'assets/cup/campaigns/2.png', campaignNm: '잡스인천 개소식' },
      { companyNm: '인천시립교향악단', img: 'assets/cup/campaigns/1.png', campaignNm: '엘가&차이코프스키' }
    ]
  })
}
</script>

<style scoped>
.campaign img {
  height: 250px;
  object-fit: cover;
}
.campaign {
  padding: 120px 0 !important;
}
.campaign .page-title {
  margin-bottom: 6rem !important;
}
.cup .card-img-overlay {
  background-color: #00000059;
}
.cup .card-subtitle {
  color: #ffffff !important;
}
.cup .card-text {
  font-family: 'NanumSquareRound', sans-serif !important;
  letter-spacing: -0.6px;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  bottom: 12px;
}
</style>