<template>
  <div class="home">
    <section class="header font-round" :style="{ backgroundImage: `url(${require('@/assets/cup/bg/bg-main.jpg')})` }">
      <b-container>
        <h1>
          원하는 지역에<br>
          콕! 찍어 홍보하세요
        </h1>
        <p>카페채널 컵홀더 광고</p>
        <b-button variant="light" to="/search">시작하기</b-button>
      </b-container>
    </section>
    <b-container id="count-section">
      <b-row align-v="center">
        <b-col class="left">
          <small>캠페인 수</small>
          <div><vue-numeric separator="," :value="12" read-only></vue-numeric></div>
        </b-col>
        <b-col class="center">
          <small>배포 아이템 수</small>
          <div><vue-numeric separator="," :value="564000" read-only></vue-numeric></div>
        </b-col>
        <b-col class="right">
          <small>매장 수</small>
          <div><vue-numeric separator="," :value="289" read-only></vue-numeric></div>
        </b-col>
      </b-row>
    </b-container>
    <StatusSection></StatusSection>
    <StepSection></StepSection>
    <CampaignSection></CampaignSection>
    <NewsSection></NewsSection>
  </div>
</template>

<script>
import StatusSection from './home/StatusSection'
import StepSection from './home/StepSection'
import CampaignSection from './home/CampaignSection'
import NewsSection from './home/NewsSection'
export default {
  components: {
    StatusSection,
    StepSection,
    CampaignSection,
    NewsSection
  }
}
</script>
<style>
.cup .home > .header {
  color: white;
  height: 500px;
  padding: 100px 0;
  background-position: 50%;
  background-size: cover;
  position: relative;
}
.cup .home > .header h1 {
  font-size: 45px;
  font-weight: 900 !important;
  margin-bottom: 10px;
}
.cup .home > .header p {
  font-size: 20px;
  margin-bottom: 24px;
  font-weight: 600 !important;
}
.cup .home > .header .btn {
  width: 200px;
  height: 62px;
  padding-top: 13px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: 900;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.cup .home > .header > * {
  color: #fff;
  position: relative;
  z-index: 3 !important;
}
.cup .home h2.section-title {
  font-size: 40px;
  text-align: center;
  font-family: 'NanumSquareRound', sans-serif !important;
  font-weight: 500 !important;
  margin-bottom: 80px;
}
/* count-section */
.cup #count-section {
  font-family: 'NanumSquareRound', sans-serif !important;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
}
.cup #count-section {
  top: -68px;
  position: relative;
}
.cup #count-section .col {
  padding: 22px 0;
  text-align: center;
}
.cup #count-section .left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #009dff;
  
}
.cup #count-section .center {
  background-color: #0065dd;
}
.cup #count-section .right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #4f4f4f;
}




</style>
