<template>
  <b-container class="price main-container">
    <h2 class="page-title mb-4">가격안내</h2>
    <p class="page-desc">
      컵홀더 광고가 필요하다면<br>
      합리적인 가격으로 지금 시작하세요
    </p>
    <b-row class="mt-5">
      <b-col v-for="(item, index) in 4" :key="index">
        <b-card>
          <div slot="header">
            <div class="step">Starter</div>
            <div class="won">990,000원</div>
          </div>
          <div class="card-text">
            <div class="title font-weight-bold">주요서비스</div>
            <ul>
              <li>백만워서비스</li>
              <li>백만워서비스</li>
              <li>백만워서비스</li>
              <li>백만워서비스</li>
              <li>백만워서비스</li>
            </ul>
          </div>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
export default {
}
</script>

<style scoped>
.price {
  padding: 120px 0 !important;
}
.price .page-desc {
  margin-bottom: 70px;
}
.price .card-header .step {
  color: #6464ff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 3px;
}
.price .card-header .won {
  font-weight: 700;
  font-size: 23px;
  letter-spacing: -0.5px;
}
.price .card-header {
  font-family: 'NanumSquareRound', sans-serif;
  background-color: #ffffff;
}
.price .title {
  margin-bottom: 14px;
  font-size: 16px;
}
.price ul {
  padding-left: 16px !important;
}
.price ul li {
  line-height: 29px;
}
</style>