<template>
  <vue-daum-map
    :appKey="appKey"
    :center="center"
    :level="level"
    :mapTypeId="mapTypeId"
    :libraries="libraries"
    @load="onload">
  </vue-daum-map>
</template>

<script>
import VueDaumMap from 'vue-daum-map'
export default {
  components: {
    VueDaumMap
  },
  props: {
    appKey: {
      type: String,
      default: '05473f872cb6eb1a463dc42f2138885b'
    },
    center: {
      type: Object,
      default: () => {
        return { lat: '37.45429224829937', lng: '126.68019235742656' }
      }
    },
    level: {
      type: Number,
      default: 7
    },
    mapTypeId: {
      default: VueDaumMap.MapTypeId.NORMAL
    },
    libraries: {
      type: Array,
      default: () => {
        return ['services', 'clusterer', 'drawing']
      }
    }
  },
  data: () => ({
    map: ''
  }),
  methods: {
    onload (map) {
      this.map = map
      this.$emit('load', map)
    },
    drawStores (stores) {
      let map = this.map
      let markers = stores.map((store, index) => {
        let marker = this.createMarker({
          lat: store.lat,
          lng: store.lng
        })
        let customOverlay = this.createCustomOverlay({
          name: store.storeNm,
          marker: marker
        })
        daum.maps.event.addListener(marker, 'mouseover', () => {
          customOverlay.setMap(map)
        })
        daum.maps.event.addListener(marker, 'mouseout', () => {
          customOverlay.setMap(null)
        })
        return marker
      })
      this.createMarkerClusterer({
        map: map,
        markers: markers
      })
    },
    createCustomOverlay (params) {
      var content = '<div class="customoverlay">' +
        '  <a href="http://map.daum.net/link/map/11394059" target="_blank">' +
        '    <span class="title">' + params.name + '</span>' +
        '  </a>' +
        '</div>'
      return new daum.maps.CustomOverlay({
        position: params.marker.getPosition(),
        content: content,
        xAnchor: 0.5,
        yAnchor: 2.5
      })
    },
    createMarkerClusterer (params) {
      return new daum.maps.MarkerClusterer(Object.assign({
        map: params.map,
        averageCenter: true,
        minLevel: 1,
        disableClickZoom: false,
        gridSize: 35
      }, params))
    },
    createMarker (params) {
      if (params.category) {
        let imageSrc = 'http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png'
        let imageSize = new daum.maps.Size(64, 69)
        let imageOption = {offset: new daum.maps.Point(27, 69)}
        var markerImage = new daum.maps.MarkerImage(imageSrc, imageSize, imageOption)
      }
      var markerPosition = new daum.maps.LatLng(params.lat, params.lng)
      return new daum.maps.Marker({
        position: markerPosition,
        image: markerImage
      })
    },
    moveTo (lat, lng) {
      var moveLatLon = new daum.maps.LatLng(lat, lng)
      this.map.panTo(moveLatLon)
    }
  }
}
</script>

<style scoped>
</style>
