<template>
  <b-list-group class="search-list">
    <b-list-group-item 
      v-for="(item, index) in list"
      :key="index"
      href="#"
      class="p-2 flex-column align-items-start"
      @click="click(item.lat, item.lng)"
      >
      <b-row>
        <b-col sm="auto">
          <b-img thumbnail fluid class="thumnail" :src="defaultImage(index)" alt="Thumbnail" />
        </b-col>
        <b-col class="pl-0 py-1">
          <div class="store-id">Store ID: {{ item.storeSeq }}</div>
          <div class="title">{{ item.storeNm }}</div>
          <div class="address">{{ item.si }} {{ item.gu }} {{ item.dong }}</div>
          <div class="tag">
            <span class="mr-2 text-primary">#{{item.zones}}</span>
            <!-- <span class="mr-2 text-primary" v-for="(item, index) in item.zones" :key="index">#{{item}}</span> -->
          </div>
        </b-col>
      </b-row>
    </b-list-group-item>
  </b-list-group>
</template>

<script>
export default {
  props: {
    stores: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  data: () => ({
    list: []
  }),
  methods: {
    setStores (stores) {
      this.list = stores
    },
    defaultImage (index) {
      return require(`@/assets/cup/store/${(index % 23) + 1}.jpg`)
    },
    click (lat, lng) {
      this.$emit('click', { lat, lng })
    }
  }
}
</script>

<style>
.cup .search-list .thumnail {
  object-fit: cover;
  width: 100px;
  height: 100px;
}
.cup .search-list .store-id {
  font-size: 12px;
  color: #818181;
}
.cup .search-list {
  width: 350px;
}
.cup .search-list .title {
  font-family: 'NanumSquareRound', sans-serif !important;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.cup .search-list .address {
  font-size: 13px;
  color: #898989;
  margin-bottom: 5px;
}
.cup .search-list .tag {
  font-size: 13px;
}
</style>
