<template>
  <div class="search-map" style="padding-top: 56px;">
    <b-row style="height: 100%;">
      <b-col sm="auto" class="pr-0 side">
        <div class="text-center py-4">
          <div class="campaign-title">컵홀더 캠페인 문의하기</div>
          <b-button class="campaign-btn" variant="outline-primary">문의하기</b-button>
        </div>
        <SearchList ref="searchList"
                    @click="clickItem">
        </SearchList>
      </b-col>
      <b-col class="px-0">
        <SearchDaumMap id="map" 
                       ref="map"
                       @load="loadMap"
                       >
        </SearchDaumMap>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import SearchDaumMap from './SearchDaumMap'
import SearchList from './SearchList'
export default {
  data: () => ({
  }),
  components: {
    SearchDaumMap,
    SearchList
  },
  computed: {
  },
  async created () {
    document.querySelector('html').classList.add('full-height')
  },
  destroyed () {
    document.querySelector('html').classList.remove('full-height')
  },
  methods: {
    async loadMap (map) {
      try {
        let stores = await this.$store.dispatch('store/getStores')
        this.$refs.map.drawStores(stores)
        this.$refs.searchList.setStores(stores)
      } catch (err) {
        this.handleError(err)
      }
    },
    clickItem (item) {
      this.$refs.map.moveTo(item.lat, item.lng)
    }
  }
}
</script>

<style>
html.full-height,
html.full-height > body, 
html.full-height > body > #app {
  padding-top: 0 !important;
  height: 100%;
  overflow: hidden;
}
.search-map {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
}
.search-map .side-area {
  width: 400px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.18) 1px 0px 1px 0px;
  position: absolute;
  left: 0px;
  z-index: 3;
}
.search-map .side-area .list-group {
  overflow: scroll;
  height: 100%;
}

.search-map .campaign-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}
.search-map .campaign-btn {
  width: 120px;
  border-radius: 30px;
  padding: 5px 0px;
}
.search-map .side {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#map {
  width: 100%;
  height: 100%;
}
</style>
