<template>
  <vue-editor
    :editorToolbar="customToolbar"
    :customModules="customModulesForEditor"
    :editorOptions="editorSettings"
    :value="value"
    @input="updateEditorText($event)"
  >
  </vue-editor>
</template>

<script>
import { VueEditor } from 'vue2-editor'
import { ImageDrop } from 'quill-image-drop-module'
/*
  이미지 리사이즈 를 위해 webpack.config에서 plugin으로 Quill을 설정함
  plugins: [
    new webpack.ProvidePlugin({
      'window.Quill': 'quill',
    }),
  ],
*/
import ImageResize from 'quill-image-resize-module'

export default {
  props: {
    value: {
      type: String
    }
  },
  components: {
    VueEditor
  },
  data: () => ({
    customModulesForEditor: [
      { alias: 'imageDrop', module: ImageDrop },
      { alias: 'imageResize', module: ImageResize }
    ],
    customToolbar: [
      [{'header': [false, 1, 2, 3, 4, 5, 6]}],
      ['bold', 'italic', 'underline', 'strike'],
      [{'color': []}, {'background': []}],
      [{'align': ''}, {'align': 'center'}, {'align': 'right'}, {'align': 'justify'}],
      ['blockquote'],
      [{'list': 'ordered'}, {'list': 'bullet'}, {'list': 'check'}],
      [{'indent': '-1'}, {'indent': '+1'}],
      ['link', 'image', 'video'],
      [{'direction': 'rtl'}]
    ],
    editorSettings: {
      modules: {
        imageDrop: true,
        imageResize: {}
      }
    }
  }),
  methods: {
    updateEditorText (value) {
      this.$emit('input', value)
    }
  }
}
</script>

<style>

</style>
