<template>
  <div class="img-preview">
    <b-row>
      <b-col sm="auto" class="mb-2">
        <b-button class="remove-btn" variant="danger" @click="remove">X</b-button>
        <b-img class="preview"
               thumbnail
               :src="preview"
               alt="Thumbnail"
        />
      </b-col>
      <b-col class="mb-3">
        <div class="mb-3 mt-2">
          <slot name="button">
            <!-- <b-form-file ref="file" @change="onFileChange" multiple placeholder="Choose a file..."></b-form-file> -->
              <!-- <b-button class="btn-rounded">
                <span>업로드</span> -->
                <input type="file" ref="file" @change="onFileChange" multiple>({{ totalLength }}/{{ maxCount }})
              <!-- </b-button> -->
          </slot>
        </div>
        <p class="text-muted">
          - 이미지는 최대 6개까지 등록할 수 있어요.<br>
          - 개당 이미지 최대크기 5MB.
        </p>
      </b-col>
      <b-col sm="12" class="mb-3">
        <b-img class="thumbnail"
               v-for="(item, index) in thumbnails"
               :key="index"
               thumbnail
               :src="item.img"
               alt="Thumbnail"
               @click="setPreview(item.img, index)" 
        />
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  props: {
    images: {
      type: Array,
      default: () => {
        return []
      }
    },
    maxCount: {
      type: Number,
      default: 6
    },
    maxFileSize: {
      type: Number,
      default: 1024 * 1024 * 5 // 10MB
    }
  },
  data: () => ({
    preview: '',
    previewIndex: 0,
    thumbnails: [],
    removePaths: []
  }),
  created () {
    this.defaultPreview = require('@/assets/default/img.png')
    this.setDefaultImages(this.images)
  },
  computed: {
    totalLength () {
      return this.thumbnails.length
    },
    uploadFiles () {
      let uploadFiles = []
      for (let i = 0; i < this.totalLength; i++) {
        if (this.thumbnails[i].newFile) {
          uploadFiles.push(this.thumbnails[i].file)
        }
      }
      return uploadFiles
    }
  },
  methods: {
    setPreview (img = this.defaultPreview, index = 0) {
      this.preview = img
      this.previewIndex = index
    },
    addThumbnail (img, newFile, file) {
      if (newFile) {
        this.thumbnails.push({ img, newFile, file })
      } else {
        this.thumbnails.push({ img, newFile })
      }
    },
    setDefaultImages (images) {
      if (images.length === 0) {
        this.setPreview()
        return
      }
      images.forEach((img, index) => {
        let preview = this.image('article', 'm', img)
        if (index === 0) {
          this.setPreview(preview, index)
        }
        this.addThumbnail(preview, false)
      })
    },
    onFileChange (event) {
      const files = event.target.files
      const sumCount = this.totalLength + files.length
      if (this.maxCount < sumCount) {
        alert('최대 6개 까지 업로드 가능합니다')
        return
      }
      for (let i = 0; i < files.length; i++) {
        let file = files[i]
        if (!file) {
          return false
        }
        if (!file.type.match('image.*')) {
          alert('이미지 파일만 업로드해주세요')
          return false
        }
        if (file.size > this.maxFileSize) {
          alert('5MB 이하의 파일을 업로드해주세요')
          return false
        }
        const reader = new FileReader()
        reader.onload = (e) => {
          let img = e.target.result
          this.addThumbnail(img, true, file)
          if (i === 0) {
            this.setPreview(img, this.totalLength - 1)
          }
        }
        reader.readAsDataURL(file)
      }
    },
    remove () {
      if (this.totalLength === 0) {
        return
      }
      let targetThumbnail = this.thumbnails[this.previewIndex]
      if (!targetThumbnail.newFile) {
        let removePath = targetThumbnail.img.replace(`${this.resizeImgUrl}m/`, '')
        console.log('removePath: ', removePath)
        this.removePaths.push(`origin/${removePath}`)
      }
      this.thumbnails.splice(this.previewIndex, 1)
      if (this.totalLength > 0) {
        this.setPreview(this.thumbnails[0].img, 0)
      } else {
        this.setPreview()
      }
      this.$refs.file.value = ''
    }
  }
}
</script>

<style>
.img-preview .preview {
  object-fit: cover;
  width: 300px;
  height: 300px;
}
.img-preview .thumbnail {
  object-fit: cover;
  width: 60px;
  height: 60px;
  margin-right: 4px;
  cursor: pointer;
}
.img-preview .remove-btn {
  position: absolute;
  left: 30px;
  top: 15px;
  background-color: #dc3545b5;
  border-color: #dc3545b5;
}
</style>
