<template>
  <b-modal v-model="show" title-tag="span" :title="`지역선택(${this.stackTraceAddrName.join(' ')})`"
    :no-close-on-backdrop="true"
  >
    <b-row class="px-5 py-2">
      <b-col sm="4" v-for="(item, index) in addressList" :key="index">
        <b-card class="mb-2 cursor-pointer"
                no-body
                @click="setSiGuDong(item.addr_name, item.cd)"
                >
          <b-card-body class="p-3 text-center">
              {{ item.addr_name }}
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
    <div slot="modal-footer">
      <b-button :disabled="step <= 1" variant="success" @click="prevStep">
        이전
      </b-button>
    </div>
  </b-modal>
</template>

<script>
import openApi from '@/apis/open-api'

export default {
  props: {
    maxStep: {
      type: Number,
      default: 3
    }
  },
  data: () => ({
    show: false,
    step: 1,
    si: '',
    gu: '',
    dong: '',
    currCd: '',
    stackTraceCd: [],
    addressList: [],
    stackTraceAddrName: [],
    allAddress: [{ addr_name: '전체', cd: '' }]
  }),
  computed: {
    siGuDong () {
      return `${this.si} ${this.gu} ${this.dong}`
    },
    isLastStep () {
      return this.step === 3
    },
    isAllSelected () {
      return !this.currCd
    }
  },
  methods: {
    open () {
      this.step = 1
      openApi.getSiAddress().then((addressList) => {
        this.addressList = this.allAddress.concat(addressList)
      })
      this.si = ''
      this.gu = ''
      this.dong = ''
      this.currCd = ''
      this.stackTraceCd = []
      this.stackTraceAddrName = []
      this.show = true
    },
    setSiGuDong (addrName, cd) {
      this.currCd = cd
      this.stackTraceAddrName.push(addrName)
      this.stackTraceCd.push(cd)
      if (this.step === 1) {
        this.si = addrName
      } else if (this.step === 2) {
        this.gu = addrName
      } else if (this.step === 3) {
        this.dong = addrName
      }
      if (this.isLastStep || this.isAllSelected) {
        this.save()
        return
      }
      this.step++
      openApi.getAddress({ cd }).then((resp) => {
        this.addressList = this.allAddress.concat(resp.addressList)
      })
    },
    prevStep () {
      this.step--
      if (this.step === 1) {
        this.si = ''
      } else if (this.step === 2) {
        this.gu = ''
      } else if (this.step === 3) {
        this.dong = ''
      }
      this.stackTraceCd.pop()
      this.stackTraceAddrName.pop()
      this.currCd = this.stackTraceCd[this.step - 2]
      openApi.getAddress({ cd: this.currCd }).then((resp) => {
        this.addressList = this.allAddress.concat(resp.addressList)
      })
    },
    save () {
      if (this.isAllSelected && this.step > 1) {
        this.currCd = this.stackTraceCd[this.step - 2]
      }
      this.$emit('save', {
        si: this.si,
        gu: this.gu,
        dong: this.dong,
        addrCode: this.currCd
      })
      this.show = false
    }
  }
}
</script>

<style>

</style>
