<template>
  <b-card class="main-footer border-top rounded-0" bg-variant="light">
    <b-container class="pt-4 pb-4">
      <b-row>
        <b-col>
          <h6 class="mb-4 font-weight-bold">(주) 타임코치 사업자정보</h6>
          <p class="text-muted">
            (주)타임코치 | 인천시 송도문화로119 IGC, 1041-3 <br>
            대표 : 한소룡 | 개인정보관리책임자 : 이재철<br>
            사업자등록번호 : 654-86-00742<br>
            통신판매업신고 : 2018-인천연수구-0277호<br>
            0507-1429-0251 | leader@bingoshare.net<br>
            호스팅 사업자 : Amazon Web Service(AWS)
          </p>
        </b-col>
        <b-col sm="2">
          <h6 class="mb-4">COMPANY</h6>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" @click="demo" href="#none">회사 소개</a></li>
            <li><a class="text-muted" @click="demo" href="#none">언론 보도</a></li>
            <li><a class="text-muted" @click="demo" href="#none">인재 채용</a></li>
          </ul>
        </b-col>
        <b-col sm="2">
          <h6 class="mb-4">SERVICE</h6>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" @click="demo" href="#none">빙고쉐어 중고거래</a></li>
            <li><a class="text-muted" @click="demo" href="#none">광고 및 제휴문의</a></li>
          </ul>
        </b-col>
        <b-col sm="2">
          <h6 class="mb-4">SUPPORT</h6>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" @click="demo" href="#none">고객센터</a></li>
            <li><a class="text-muted" @click="demo" href="#none">자주 묻는 질문</a></li>
          </ul>
        </b-col>
      </b-row>
    </b-container>
    <b-row class="border-top pt-4">
      <b-col class="text-center">
        <small class="text-muted">Copyright C 2018 TimeCoach Inc. All right reserved.</small>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
export default {
  name: 'main-footer',
  methods: {
  }
}
</script>

<style>
.main-footer .container {
  max-width: 970px;
}
.main-footer li, .main-footer p {
  font-size: 14px;
  line-height: 1.5rem;
}
</style>
