<template>
  <b-navbar fixed="top" class="shadow-sm bg-white" toggleable="md">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand to="/" class="logo">빙고쉐어<small>컵홀더 마케팅</small></b-navbar-brand>
    <b-collapse is-nav id="nav_collapse">
      <b-navbar-nav class="ml-auto">
        <b-nav-item to="/cup/search">시작하기</b-nav-item>
        <!-- <b-nav-item to="/cup/introduce">서비스소개</b-nav-item> -->
        <b-nav-item to="/cup/price">가격안내</b-nav-item>
        <b-nav-item to="/cup/campaigns">고객사례</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>
<script>
export default {
  name: 'main-navbar',
  computed: {
  },
  async created () {
  },
  methods: {
  }
}
</script>

