<template>
  <b-navbar fixed="top" class="shadow-sm bg-white" toggleable="md">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand to="/" class="logo">빙고쉐어<small>카페 중고 마켓</small></b-navbar-brand>
    <b-collapse is-nav id="nav_collapse">
      <b-navbar-nav class="ml-auto">
        <b-nav-item to="/login">로그인</b-nav-item>
        <b-nav-item to="/signup">회원가입</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>
<script>
export default {
  name: 'main-navbar'
}
</script>
