<template>
  <b-navbar fixed="top" class="shadow-sm bg-white justify-content-center" toggleable="md">
    <b-navbar-brand to="/" class="logo m-0">빙고쉐어</b-navbar-brand>
  </b-navbar>
</template>
<script>
import { mapState } from 'vuex'
import empty from 'is-empty'
export default {
  name: 'main-navbar',
  computed: {
    ...mapState('category', ['categories'])
  },
  async created () {
    await this.fetchCategoryAll()
    this.saveCurrentCate()
  },
  methods: {
    async changeCurrentCate (item) {
      await this.$store.commit('category/setCurrentCate', item)
      this.$store.dispatch('article/fetchArticles', { cateCd: item.cateCd })
      this.$router.push(`/categories/${item.cateKey}`)
    },
    async fetchCategoryAll () {
      if (empty(this.$store.state.category.categories)) {
        await this.$store.dispatch('category/fetchCategoryAll')
      }
    },
    saveCurrentCate () {
      let topCateCd = this.$route.params.topCateCd
      if (topCateCd) {
        this.$store.commit('category/setCurrentCate', this.categories[topCateCd])
      }
    },
    async logout () {
      await this.$store.dispatch('user/logout')
      this.$router.push('/login')
    }
  }
}
</script>
<style scoped>

</style>

