<template>
  <b-navbar fixed="top" class="shadow-sm bg-white" toggleable="md">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand to="/" class="logo">빙고쉐어<small>카페중고장터</small></b-navbar-brand>
    <b-collapse is-nav id="nav_collapse">
      <b-navbar-nav class="navbar-center">
        <b-nav-item v-for="(item, index) in categories" :key="index" :to="`/${item.cateKey}/${item.cateCd}`">{{ item.cateNm }}</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item to="/category/selection">등록하기</b-nav-item>
        <template v-if="isLogin">
          <b-nav-item-dropdown :text="currentUser.nickname" right>
            <b-dropdown-item to="/articles/manage">상품관리</b-dropdown-item>
            <b-dropdown-item to="/profile">내정보</b-dropdown-item>
            <b-dropdown-item @click="logout">로그아웃</b-dropdown-item>
          </b-nav-item-dropdown>
        </template>
        <template v-else>
          <b-nav-item to="/login">로그인/회원가입</b-nav-item>
        </template>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>
<script>
import { mapState } from 'vuex'
import empty from 'is-empty'
export default {
  name: 'main-navbar',
  computed: {
    ...mapState('category', ['categories'])
  },
  async created () {
    await this.fetchCategoryAll()
    this.saveCurrentCate()
  },
  methods: {
    async changeCurrentCate (item) {
      await this.$store.commit('category/setCurrentCate', item)
      this.$store.dispatch('article/fetchArticles', { cateCd: item.cateCd })
      this.$router.push(`/categories/${item.cateKey}`)
    },
    async fetchCategoryAll () {
      if (empty(this.$store.state.category.categories)) {
        await this.$store.dispatch('category/fetchCategoryAll')
      }
    },
    saveCurrentCate () {
      let topCateCd = this.$route.params.topCateCd
      if (topCateCd) {
        this.$store.commit('category/setCurrentCate', this.categories[topCateCd])
      }
    },
    async logout () {
      await this.$store.dispatch('user/logout')
      this.$router.push('/login')
    }
  }
}
</script>
<style scoped>
@media (min-width: 768px) {
  .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}
</style>

