<template>
  <section class="manage-header pt-5 bg-white border-bottom">
    <section class="sub-header">
      <b-container>
        <h2>상품관리</h2>
        <p class="mb-4">세상의 모든 커피숍을 완성하다</p>
      </b-container>
    </section>
    <b-container>
      <b-row>
        <b-col>
          <b-nav tabs class="border-0 font-weight-bold">
            <b-nav-item class="text-black" to="/articles/manage">상품관리</b-nav-item>
            <b-nav-item to="/profile">내정보</b-nav-item>
          </b-nav>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
export default {
  name: 'sub-tabs'
}
</script>

<style scoped>
</style>
