<template>
  <section class="sub-header card-background">
    <b-container>
      <h2>마이페이지</h2>
      <p>세상의 모든 커피숍을 완성하다</p>
    </b-container>
  </section>
</template>

<script>
export default {
  name: 'sub-header'
}
</script>

<style>
.sub-header {
  text-align: center;
  background-image: url("https://demos.creative-tim.com/vue-now-ui-kit-pro/img/bg1.jpg");
  height: 200px;
  padding: 60px 0;
}
</style>
