<template>
  <section class="sub-tabs border-bottom bg-white">
    <b-container>
      <b-row>
        <b-col>
          <b-nav :justified="true">
            <b-nav-item to="/articles/manage">상품관리</b-nav-item>
            <b-nav-item to="/profile">내정보</b-nav-item>
          </b-nav>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
export default {
  name: 'sub-tabs'
}
</script>

<style>
.sub-tabs {
  position: relative;
}
.sub-tabs .nav-link {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  position: relative;
  color: black !important;
}
.sub-tabs .nav-link.active {
  font-weight: 600
}
.sub-tabs .nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #007bff;
}
.sub-tabs > .container {
}
</style>
